body {
	margin: 0;
	padding: 0;
	font-size: 1vw;
}
#header {
	width: 100%;
	text-align: center;
	background-color: black;
	color: white;
}
#header > img {
	width: 40%;

}
nav {
	color: white;
	background-color: black;
}
ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
li {
	color: white;
	list-style: none;
}
a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}