#main{
    width: 500px;
    /*display: flex;
    justify-content: flex-start;*/
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1px;
    font-weight: bold;
}

#header{
    justify-content: flex-start;
    flex-flow: column;
    display:flex;
}

.bigline{
    flex-flow: column;
    background-color: black;
    height: 20px;
    width: 490px;
}
#amount {
    display: flex;
    flex-flow: column;
    text-align: right;
    /*padding-right: 10px;*/
}
#servingmain{
    display: flex;
    flex-flow: row;
}
#serving {
    flex-flow: row;
    width: 70%;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;

}
#ingredients{
    display: flex;
    width: 30%;
    flex-flow: row;
    justify-content: space-between;
}
.thinline{
    border-top: 1px solid black;
}
.greyline {
    border: 1px solid gray;
    padding-left: 15px;
}
.fat {
    padding-left: 15px;
}

